#username{
    color:aqua;
    font-size: larger;

    padding: 15px;
    text-align: center;
    
}
#login{
    padding:15px 15px 15px 15px;
    text-align: center;
    margin-top: 25px;
    color: palegreen;
    background-color: azure;
    text-size-adjust: 10px;

}
#password{
    padding-top: 15px;
    margin: 20px;
    font-size: larger;
    text-align: center;

}
#btn{
    text-align: center;
    font-size: larger;
    color: azure;
    text-align: center;
}
.form-container{
    text-align: center;
    padding: auto;
    margin-top: 20px;
}